{% extends 'base.html.twig' %}

{% block title %}Admin - Categories{% endblock %}

{% block body %}
<div class="block col p-3" id="">
    <div class="row mb-3">
        <div class="col">
            <h3>Dealership Categories</h3>
        </div>
    </div>

    {{ form_start(categoryForm)}}
    <div class="row">
        {{ form_label(categoryForm.name) }}
        <div class="col input-group">
            {{ form_widget(categoryForm.name) }}
            {{ form_widget(categoryForm.color) }}
            <input type="submit" class="btn btn-primary" value="Add " />
        </div>
    </div>
    {{ form_end(categoryForm) }}

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td class="col-1">{{ loop.index0 +1 }}</td>
                        <td class="col-1">{% include "/common/svgimage.html.twig" with {color: category.color} %}</td>

                        <td class="col">{{ category.name }}</td>
                        <td class="col-1 text-end">
                            <a href="{{ url('app_admin_categorydelete', { id: category.id }) }}" class="btn btn-small btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}