{% extends 'base.html.twig' %}

{% block title %}Create/Update Table Types{% endblock %}

{% block body %}
<div class="block col p-3" id="">
    <div class="row mb-3">
        <div class="col">
            <h3>Create / Update Table Type</h3>
        </div>
    </div>
    {{ form_start(tableTypeForm)}}
    <div class="row mb-3">
        {{ form_label(tableTypeForm.name) }}
        <div class="col">
            {{ form_widget(tableTypeForm.name) }}
        </div>
    </div>
    <div class="row mb-3">
        {{ form_label(tableTypeForm.width) }}
        <div class="col">
            {{ form_widget(tableTypeForm.width) }}
        </div>
        <div class="col-2">
            {{ settings.get('unit_of_measurement').value }}
        </div>
    </div>
    <div class="row mb-3">
        {{ form_label(tableTypeForm.depth) }}
        <div class="col">
            {{ form_widget(tableTypeForm.depth) }}
        </div>
        <div class="col-2">
            {{ settings.get('unit_of_measurement').value }}
        </div>
    </div>
    <div class="row mb-3">
        {{ form_label(tableTypeForm.num_user_slots) }}
        <div class="col">
            {{ form_widget(tableTypeForm.num_user_slots) }}
        </div>

    </div>
    <div class="row mb-3">
    <div class="col offset-3">
        <input type="submit" class="btn btn-primary" value="Save Table Type " />
    </div>
    {{ form_end(tableTypeForm) }}

</div>
{% endblock %}