{% extends 'base.html.twig' %}

{% block title %}Server Settings{% endblock %}

{% block body %}
    <div class="block col p-3" id="">
        <div class="row mb-3">
            <div class="col">
                <h3>Server Settings</h3>
            </div>
        </div>
        {{ form_start(settingsForm)}}

            {% for item in settingsForm.items %}
                <div class="row mb-3">
                    {{ form_label(item.children['value'], item.children['value'].vars['label'], { "label_attr": {"class": "col-4 text-end fw-bold" } }) }}
                    <div class="col">
                        {{ form_widget(item.children['value']) }}
                        {{ form_help(item.children['value'], { "help_attr": { "class": "ps-3 text-secondary"} }) }}
                    </div>
                </div>
            {% endfor %}
            {% do settingsForm.items.setRendered() %}

            <div class="row mb-3">
                <div class="col offset-3">
                    <input type="submit" value="Save Settings" class="btn btn-success">
                </div>
            </div>



        {{ form_end(settingsForm)}}
</div>

{% endblock %}


{% block sidebar %}
    {% include "common/sidebar.html.twig" %}
{% endblock %}