{% extends 'base.html.twig' %}

{% block title %}Admin - Table Addons{% endblock %}

{% block body %}
<div class="block col p-3" id="">
    <div class="row mb-3">
        <div class="col">
            <h3>Table Addons</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-1">#</th>
                    <th>Table Addon</th>
                    <th class="col-2 text-end"><a href="{{ url('app_admin_tableaddoncreate') }}" class="btn btn-primary">Create</a></th>
                </tr>
                </thead>
                <tbody>
                {% for table in tableAddons %}
                    <tr>
                        <td class="col-1">{{ loop.index0 +1 }}</td>
                        <td class="col">{{ table.name }} ( ${{ table.additionalCost }} )</td>
                        <td class="btn-group">
                            <a href="{{ url('app_admin_tableaddonedit', { id: table.id }) }}" class="btn btn-small btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ url('app_admin_tableaddondelete', { id: table.id }) }}" class="btn btn-small btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}