{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block menu %}{% endblock %}
{% block body %}

<div id="register-container" class="center-block col-6 offset-3 block p-3">
    <form method="post">

        {% if app.user %}
            <div class="row mb-3">
                <div class="col">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            </div>
        {% else %}
            <div class="row mb-3">
                <div class="col">
                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                </div>
            </div>
            {{ form_start(registrationForm) }}
            {% if not registrationForm.vars.valid %}
            <div class="row mb-3">
                <div class="col alert alert-danger">
                    {{ form_errors(registrationForm) }}
                </div>
            </div>
            {% endif %}


            <div class="row mb-3">
                {{ form_label(registrationForm.email) }}
                <div class="col">
                    {{ form_widget(registrationForm.email) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(registrationForm.plainPassword) }}
                <div class="col">
                    {{ form_widget(registrationForm.plainPassword) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col offset-3 d-grid gap-2">
                    <button  type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
            {{ form_end(registrationForm) }}
            <div class="row mb-3">
                <div class="col offset-3 text-center">
                    <a href="{{ url('app_login') }}" class="btn btn-small">Already registered? Log in</a>
                      </div>
                  </div>

        {% endif %}





{% endblock %}
