<div class="col-3 menu-container block mt-5 ms-3">
    <div class="row">
        <div class="sidebar-item col p-3"><a href="{{ url('app_dashboard') }}" class=""><i class="fas fa-tachometer-alt-fast"></i> Dashboard</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled"  class="link-success"><i class="fas fa-person-booth"></i> Vote Machine</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-poll-h"></i> Create Vote</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-square-poll-vertical"></i> List Vote Events</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-chart-pie"></i> Reports</a></div>
    </div>
    <!-- Staff -->
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-users"></i> Staff List</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-user-edit"></i> Add Staff Member</a></div>
    </div>
    <!-- Dealer's Room -->

<!--
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="#" class="link-secondary"><i class="fas fa-store"></i> Dealer's Room Layout</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="#" class="link-secondary"><i class="fas fa-digging"></i> Create Room Layout</a></div>
    </div>
        -->

        <!-- Vendors -->
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-clipboard-list"></i> List Vendors</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-file-import"></i> Import Vendors</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-dolly"></i> Add Vendor</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-briefcase-medical"></i> Rebuild Vendor Categories</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled"  class="link-danger"><i class="fas fa-exclamation-triangle"></i> Delete All Vendors</a></div>
    </div>
</div>