<div class="col-2 menu-container block mt-5 ms-3">
    <div class="row">
        <div class="sidebar-header"><h4>All</h4></div>
    </div>
    <div class="row">
        <div class="sidebar-item col p-3"><a href="{{ url('app_dashboard') }}" class=""><i class="fas fa-tachometer-alt-fast"></i> Dashboard</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item col p-3"><a href="{{ url('app_dashboard') }}" class=""><i class="fas fa-user-edit"></i> Profile</a></div>
    </div>

    <div class="row">
        <div class="sidebar-item col p-3"><a href="{{ url('app_logout') }}"  class=""><i class="fas fa-sign-out"></i> Logout</a></div>
    </div>

    {% if 'ROLE_USER' in app.user.roles and app.user.roles|length == 1 %}
        <div class="row">
            <div class="sidebar-header"><h4>Attendee</h4></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_dealership_apply') }}"><i class="fas fa-clipboard"></i> Dealership Application</a></div>
        </div>

    {% endif %}

    <!-- Dealer's Room -->

<!--
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="#" class="link-secondary"><i class="fas fa-store"></i> Dealer's Room Layout</a></div>
    </div>
    <div class="row">
        <div class="sidebar-item disabled col p-3"><a href="#" class="link-secondary"><i class="fas fa-digging"></i> Create Room Layout</a></div>
    </div>
        -->
    {% if 'ROLE_DEALER' in app.user.roles %}
        <div class="row">
            <div class="sidebar-header"><h4>Vendor</h4></div>
        </div>

        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled link-success"><i class="fas fa-person-booth"></i> Vote Machine</a></div>
        </div>

    {% endif %}

    {% if 'ROLE_STAFF' in app.user.roles %}
        <div class="row">
            <div class="sidebar-header"><h4>Staff</h4></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled link-success"><i class="fas fa-person-booth"></i> Vote Machine</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-users"></i> Staff List</a></div>
        </div>
    {% endif %}


        <!-- Vendors -->
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <div class="row">
            <div class="sidebar-header"><h4>Administrator</h4></div>
        </div>


        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_settings') }}" class=" text-danger"><i class="fas fa-gears"></i> Settings</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_admin_category') }}" class=" text-info"><i class="fas fa-tag"></i> Categories</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_admin_tabletype') }}" class=" text-info"><i class="fas fa-store"></i> Table Types</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_admin_tableaddon') }}" class=" text-info"><i class="fas fa-cart-plus"></i> Table Addons</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_admin_dealerarea') }}" class=" text-info"><i class="fas fa-map"></i> Dealer Areas</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_admin_userlist') }}" class=" text-secondary"><i class="fas fa-users"></i> Users</a></div>
        </div>

        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-poll-h"></i> Create Vote</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-square-poll-vertical"></i> List Vote Events</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-chart-pie"></i> Reports</a></div>
        </div>


        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-user-edit"></i> Add Staff Member</a></div>
        </div>

        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-clipboard-list"></i> List Vendors</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-file-import"></i> Import Vendors</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-dolly"></i> Add Vendor</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item disabled col p-3"><a href="{{ url('app_none') }}" class="disabled" ><i class="fas fa-briefcase-medical"></i> Rebuild Vendor Categories</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_admin_deleteallvendors') }}" class="link-danger"><i class="fas fa-exclamation-triangle"></i> Delete All Vendors</a></div>
        </div>

    {% endif %}
    {% if app_env|upper == 'DEV' %}
        <div class="row">
            <div class="sidebar-header"><h4>Developer</h4></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_developer_promoteme', {role: 'ROLE_DEVELOPER' }) }}"  class="link-danger"><i class="fas fa-exclamation-triangle"></i> Make Me A Developer</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_developer_promoteme', {role: 'ROLE_ADMIN' }) }}"  class="link-warning"><i class="fas fa-exclamation-triangle"></i> Make Me An Admin</a></div>
        </div>
        <div class="row">
            <div class="sidebar-item col p-3"><a href="{{ url('app_developer_flashtest') }}"  class="link-info"><i class="fas fa-bread-slice"></i> Test Flashes</a></div>
        </div>

    {% endif %}

</div>